.backdrop{
    width:100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
}

.alert-box{
    top:30vh;
    box-shadow: 0 3 20 rgba(0,0,0,0.75);
    left:30vw;
    position: fixed;
    width:50vw;
    height: 20vh;
    background-color: white;
   
}