<button (click)="login()">login</button>
<button (click)="logout()">logout</button>
<div [style]>jyoti</div>

<div *condi="x">Hi jyotiiii</div>

<button type="button" (click)="x=!x">click</button>

<div [ngSwitch]="'jyoti'">
<p *ngSwitchCase="false">Hi false</p>
<p *ngSwitchCase="true">Hi true</p>
<p *ngSwitchDefault>jydfdfs</p>
</div>

<div myrenderer>Hi rendere</div>

<a routerLink="" routerLinkActive="myclass" [routerLinkActiveOptions]="{exact:true}">Home</a>
<a [routerLink]="['main']" routerLinkActive="myclass">Main</a>
<a [routerLink]="['abouts']" routerLinkActive="myclass">About</a>
<a [routerLink]="['/template']" routerLinkActive="true">Template</a>
<a [routerLink]="['/Reactiveform']" routerLinkActive="true">Reactiveform</a>
<a [routerLink]="['/pipe']" routerLinkActive="true">Pipes</a>
<a [routerLink]="['/httppractice']" routerLinkActive="true">Https</a>
<div>
<router-outlet></router-outlet>
</div>